$blue800: #1565C0;
$green500: #4CAF50;

$background: #E0E0E0;
$primary: $blue800;
$primary-text: rgb(255, 255, 255);
$muted: rgb(150, 150, 150);

$toolbar-active: #F5F5F5;

$note-background: white;
// cyan, yellow, magenta, lime
$note-text: rgb(0, 0, 0);

.green {
    color: $green500;
}