// // Word palette
// $primary: rgb(42, 87, 154);
// $primary-text: rgb(255, 255, 255);

// // Keep palette
// $primary: rgb(255, 193, 7);
// $primary-text: rgb(33, 33, 33);

// Freenote palette
$primary: #1565C0;
$primary-text: rgb(255, 255, 255);

$ribbon-active: rgb(241, 241, 241);

$note-background: rgb(255, 255, 255);
$note-new-background: #E3F2FD;