@import '../palette.scss';

.notes {
    position: absolute;
    top: 59px;
    bottom: 0px;
    width: 100%;
    margin: auto;
    overflow-y: auto;
}

.notes-grid {
    max-width: 1040px;
    margin: auto;
    display: flex;
    align-items: left;
    justify-content: left;
    flex-flow: row wrap;
    align-content: flex-start;
}

.note {
    position: relative;
    display: block;
    background: $note-background;
    border: solid 1px darken($note-background, 22.5);
    padding: 10px;
    margin: 10px 10px;
    line-height: 20px;
    font-size: 14px;
    height: 240px;
    width: 240px;
}

.note-new {
    background: lighten($primary, 30);
    border: solid 1px lighten($primary, 10);
}

.note-content {
    overflow: hidden !important;
    text-overflow: ellipsis;
    max-width: 100%;
    max-height: 100%;
    white-space: pre;
    ::-webkit-input-placeholder {
        color: #000;
        opacity: 0.5;
    }
    :-ms-input-placeholder {
        color: #000;
        opacity: 0.5;
    }
    ::-moz-placeholder {
        color: #000;
        opacity: 0.5
    }
}

.note-title {
    line-height: 24px;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 16px;
    border: none;
    resize: none;
    color: black;
    background: none;
    &:focus {
        outline: none;
    }
}

.note-textarea {
    font-family: inherit;
    width: 100%;
    height: calc(100% - 30px);
    border: none;
    resize: none;
    color: black;
    background: none;
    &:focus {
        outline: none;
    }
}

.note-controls {
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 0px;
    width: 100%;
    height: 29px;
    background: darken($note-background, 5);
    .note-new > & {
        background: lighten($primary, 25);
    }
}

.note-button {
    background: none;
    border: none;
    width: 25%;
    height: 100%;
    float: right;
    color: darken($note-background, 40);
    .note-new > .note-controls > & {
        color: darken($primary, 10);
    }
    &:hover {
        background: darken($note-background, 12.5);
        .note-new > .note-controls > & {
            background: lighten($primary, 20);
        }
    }
}