@import '../palette.scss';

.notes {
    position: absolute;
    top: 116px;
    bottom: 0px;
    width: 100%;
    margin: auto;
    overflow-y: auto;
}

.notes-grid {
    max-width: 1040px;
    margin: auto;
    display: flex;
    align-items: left;
    justify-content: left;
    flex-flow: row wrap;
    align-content: flex-start;
}

.note {
    position: relative;
    display: block;
    background: $paper-background;
    border: solid 1px darken($paper-background, 22.5);
    padding: 10px;
    margin: 10px 10px;
    line-height: 20px;
    font-size: 14px;
    height: 240px;
    width: 240px;
    border-radius: 2px;
}

.note-new {
    background: none;
    border: solid 1px $accent;
}

.note-content {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 29px;
    margin: 10px;
    overflow: hidden !important;
    text-overflow: ellipsis;
    max-width: 100%;
    max-height: 100%;
    white-space: pre;
    ::-webkit-input-placeholder {
        color: $accent;
    }
    :-ms-input-placeholder {
        color: $accent;
    }
    ::-moz-placeholder {
        color: $accent;
    }
}

.note-title {
    line-height: 24px;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 16px;
    border: none;
    resize: none;
    color: $paper-text;
    background: none;
    &:focus {
        outline: none;
    }
}

.note-textarea {
    font-family: inherit;
    width: 100%;
    padding: 0px;
    height: calc(100% - 42px);
    border: none;
    resize: none;
    color: $paper-text;
    background: none;
    &:focus {
        outline: none;
    }
}

.note-controls {
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 0px;
    height: 29px;
}

.note-button {
    background: none;
    border: none;
    height: 100%;
    width: 12.5%;
    padding: 0px;
    float: right;
    color: $muted;
    &:hover {
        background: rgba(0,0,0,0.1);
    }
    &:focus {
        outline: none;
    }
    &:active {
        outline: none;
    }
    & > i {
        font-size: 24px;
    }
    .note-new > .note-controls > & {
        color: $accent;
    }
}