@import '../reset.scss';
@import '../palette.scss';
@import url('https://fonts.googleapis.com/css?family=Noto+Sans');

* {
    box-sizing: border-box;
}

.login {
    display: block;
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    font-family: "Noto Sans";
    background: rgb(255, 255, 255);
}

.login-main {
    position: relative;
    display: block;
    height: 100%;
    width: 500px;
    margin: auto;
    padding: 0px 100px;
    text-align: center;
}

.login-header {
    margin-top: 90px;
    margin-bottom: 90px;
}

.login-message {
    font-size: 13px;
}

.login-fieldset {
    margin: 30px 0px;
}

.login-input {
    margin: 4px 0px;
    padding: 5px;
    width: 100%;
}

.login-button {
    border: 0px;
    background: $primary;
    color: $primary-text;
    font-size: 14px;
    padding: 7px 22px;
}

.login-footer {
    left: 0px;
    right: 0px;
    width: 100%;
    position: absolute;
    bottom: 25px;
    & > * {
        font-size: 11px;
        margin: 0px 5px;
        display: inline-block; 
    }
    & > p {
        color: rgb(120, 120, 120);
    }
    & > a {
        color: rgb(0, 0, 0);
    }
}