@import '../reset.scss';
@import '../palette.scss';
@import url('https://fonts.googleapis.com/css?family=Noto+Sans');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

@import '../header/header.scss';
@import '../note/note.scss';

* {
    box-sizing: border-box;
}

.app {
    display: block;
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    font-family: "Noto Sans";
    background: $background;
    border: 1px solid $primary;
}