@import '../palette.scss';

.ribbon {
    position: relative;
    background: $primary;
    min-height: 24px;
    user-select: none;
}

.ribbon-tabs {
    display: block;
    height: 24px;
}

.window-title {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    height: 24px;
    text-align: center;
    font-size: 12px;
    padding: 6px 12px;
    font-size: 12px;
    color: $primary-text;
    cursor: default;
    pointer-events: none;
}

.ribbon-tab {
    display: inline-block;
    height: 100%;
    text-align: center;
    margin: 0px 1px;
    padding: 6px 12px;
    min-width: 62px;
    font-size: 12px;
    color: $primary-text;
    cursor: default;
    &:nth-of-type(1) {
        margin-left: 0px;
    }
    &:hover {
        background: lighten($primary, 8)
    }
    &.active, .active:hover {
        color: $primary;
        background: $ribbon-active;
    }
}

.search {
    display: inline-block;
    height: 100%;
    width: 200px;
    color: $primary-text;
    &:hover {
        background: darken($primary, 8);
    }
    &:focus-within {
        background: darken($primary, 8);
    }
    & > i {
        float: left;
        width: 24px;
        text-align: center;
        cursor: default;
        padding: 3px;
        height: 100%;
        font-size: 18px;
    }
    & > input {
        height: 100%;
        padding: 0%;
        background: none;
        border: none;
        color: $primary-text;
        font-size: 12px;
        user-select: text;
        &:focus {
            outline: none;
        }
        &::-webkit-input-placeholder {
            color: $primary-text;
        }
        &:-ms-input-placeholder {
            color: $primary-text;
        }
        &::-moz-placeholder {
            color: $primary-text;
        }
    }
}

.user-name {
    height: 100%;
    float: right;
    font-size: 12px;
    color: $primary-text;
    padding: 6px 12px;
    cursor: pointer;
    &:hover {
        text-decoration: underline;
    }
}

.ribbon-toolbar {
    display: block;
    height: 92px;
    background: $ribbon-active;
    border-bottom: 1px solid darken($ribbon-active, 11);
    cursor: default;
    overflow-y: auto;
}

.ribbon-toolbar-section {
    padding: 0px 4px;
    float: left;
    position: relative;
    height: calc(100% - 8px);
    margin: 4px 0px;
    border-right: 1px solid darken($ribbon-active, 11);
    & > * {
        float: left;
    }
}

.ribbon-toolbar-column {
    margin: 0px 2px;
    float: left;
}

.ribbon-toolbar-row {
    float: none;
    margin: 8px 0px;
    display: block;
    &:first-of-type {
        margin: 4px 0px;
    }
    &.compact {
        margin: 0px;
    }
    & > * {
        display: inline-block;
    }
}

.full-width {
    width: 100%;
}

.divider {
    width: 0px;
    height: 24px;
    border-left: 1px solid darken($ribbon-active, 11);
    margin: 0px 5px;
}

.ribbon-toolbar-select {
    vertical-align: top;
    height: 22px;
}

.ribbon-toolbar-button {
    height: 22px;
    background: none;
    border: none;
    font-size: 12px;
    line-height: 22px;
    color: darken($ribbon-active, 70);
    padding: 0px 0px 0px 0px;
    &:hover {
        background: rgba(0,0,0,0.2);
    }
    & > i {
        float: left;
        width: 22px;
        line-height: 22px;
        font-size: 17px;
    }
        &.small {
            position: relative;
            width: 22px;
            display: inline-block;
            & > i {
                position: absolute;
                top: 0px;
                bottom: 0px;
                left: 0px;
                right: 0px;
            }
        }
        &.ribbon-toolbar-column {
        position: relative;
        padding: 0px;
        height: calc(100% - 20px);
        width: 40px;
        overflow: hidden;
        & > i {
            position: absolute;
            top: 0px;
            left: 0px;
            right: 0px;
            margin: auto;
            display: inline-block;
            font-size: 30px;
            width: 30px;
            height: 30px;
            line-height: 30px;
        }
        & > .button-title {
            position: absolute;
            top: 32px;
            left: 0px;
            right: 0px;
            word-break: break-word;
            line-height: 16px;
        }
    }
}

.ribbon-toolbar-button-expand {
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    font-size: 16px;
}

.colorbox {
    position: absolute;
    right: 3px;
    bottom: 3px;
    width: 20%;
    height: 20%;
    background: purple;
    .small > i > & {
        right: 4px;
        bottom: 4px;
    }
}

.ribbon-toolbar-section-title {
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    text-align: center;
    font-size: 11px;
    cursor: default;
    color: darken($ribbon-active, 60);
}

@media screen and (max-width: 1060px) {
    .notes-grid {
        max-width: 790px !important;
    }
}

@media screen and (max-width: 810px) {
    .notes-grid {
        max-width: 540px !important;
    }
}

@media screen and (max-width: 550px) {
    .notes-grid {
        justify-content: center !important;
    }

    .window-title, .search {
        display: none;
    }
}