.notes-grid {
    display: block;
    width: 500px;
    margin: auto;
}

.note {
    display: block;
    min-height: 200px;
    background: rgb(255, 255, 255);
    border: solid 1px rgb(198, 198, 198);
    padding: 10px;
    margin: 20px 0px;
}